@model ReserveSystem.ViewModels.IndexPageViewModel

<div class="reservation-form">
    <h3>Rezervace</h3>
    @using (Html.BeginForm("CreateReservation", "Home", FormMethod. Post))
    {
        @Html.LabelFor(x => x.Reservation.Name)
        @Html.EditorFor(x => x. Reservation.Name)
        @Html.ValidationMessageFor(x => x. Reservation.Name)
    
        @Html.LabelFor(x => x. Reservation.Name)
        @Html.EditorFor(x => x.Reservation.Name)
        @Html.ValidationMessageFor(x => x. Reservation.Name)
    
        @Html.LabelFor(x => x. Reservation.Name)
        @Html.EditorFor(x => x. Reservation.Name)
        @Html.ValidationMessageFor(x => x. Reservation.Name)
    
        @Html.LabelFor(x => x.Reservation.Name)
        @Html.EditorFor(x => x.Reservation.Name)
        @Html.ValidationMessageFor(x => x. Reservation.Name)
    
        @Html.DropDownListFor(x => x. Reservation.ServiceId, Model.Reservation.ServiceList, "Select an option")
        <button type="submit">Rezervovat</button>
    }
</div> 