@model ReserveSystem.ViewModels.ReservationViewModel

<h2>Rezervace úspěšně vytvořena</h2>

<p>Děkujeme za vaši rezervaci. Zde jsou detaily:</p>

<ul>
    <li>Jméno: @Model.Name</li>
    <li>Příjmení: @Model.Surname</li>
    <li>Telefonní číslo: @Model.Phone</li>
    <li>Email: @Model.Email</li>
    <li>Služba: @Model.ServiceId</li>
</ul>

<p><a href="/">Domovská stránka</a></p>