@model ReserveSystem.ViewModels.ReservationViewModel

<section class="reservations-output">
    <h2>Rezervace úspěšně vytvořena</h2>

    <p>Děkujeme za vaši rezervaci. Zde jsou detaily:</p>
    
    <ul>
        <li>
            Jméno: <strong>@Model.Name</strong>
        </li>
        <li>
            Příjmení: <strong>@Model.Surname</strong>
        </li>
        <li>
            Telefonní číslo: <strong>@Model.Phone</strong>
        </li>
        <li>
            Email: <strong>@Model.Email</strong>
        </li>
        <li>
            Služba: <strong>@Model.ServiceId</strong>
        </li>
    </ul>

    <p><a href="/">Domovská stránka</a></p>
</section>
